extends layout

block content
  .w3-container.w3-center.w3-jumbo
    header.w3-container.w3-dark-grey
      h1 iBanda
    .w3-container
            .w3-row
                .w3-col.m4.l3       
                    .w3-side-bar.w3-bar-block.w3-collapse.w3-theme-l5.w3-large
                        h3.w3-bar-item.w3-center.w3-text-teal 
                            b Menu
                        ul.w3-ul
                            li
                                form.w3-container(action='/python',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Run Script Python')
                            li
                                form.w3-container(action='/users',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Users',id='users')
                            li
                                form.w3-container(action='/users/history',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Users History')
                            li
                                form.w3-container(action='/tablespaces',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Tablespaces')
                            li
                                form.w3-container(action='/tablespaces/history',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Tablespaces History')
                            li
                                form.w3-container(action='/datafiles',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Datafiles')
                            li
                                form.w3-container(action='/datafiles/history',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Datafiles History')
                            li
                                form.w3-container(action='/sessions',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Sessions')
                            li
                                form.w3-container(action='/sessions/history',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Sessions History')
                            li
                                form.w3-container(action='/memory',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Memory')
                            li
                                form.w3-container(action='/memory/cdb',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Memory By PGA')
                            li
                                form.w3-container(action='/memory/dba',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Memory PGA and SGA')
                            li
                                form.w3-container(action='/memory/dataStorage',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Memory Data Storage')
                            li
                                form.w3-container(action='/memory/history',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Memory History')
                            li
                                form.w3-container(action='/roles',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Roles')
                            li
                                form.w3-container(action='/views',method='GET')
                                    input.w3-btn.w3-hover-teal(type='submit',value='Views')
                            
                        br
                .w3-col.m8.l9
                    h3 Bem-Vindo Admnistrador!           
  
  .w3-container.w3-center.w3-bottom
    footer.w3-container.w3-dark-grey
      address iBandaApp by JG/TF copyrights reserved.


