extends layout

block content
  .w3-container.w3-center.w3-jumbo
    header.w3-container.w3-dark-grey
      h1 iBanda
  .w3-container.w3-large
    .w3-bar.w3-black.w3-mobile
      .w3-bar-item
        form.w3-container(action='/sobre', method='GET')
          input.w3-button.w3-wide(type= 'submit', value= 'Sobre') 
      .w3-bar-item
        form.w3-container(action='/contactos', method='GET')
          input.w3-button.w3-wide(type= 'submit', value= 'Contactos')
      .w3-bar-item.w3-right
        form.w3-container(action='/login', method='GET')
          input.w3-button.w3-wide(type= 'submit', value= 'Login')
  br
  .w3-container
    .w3-card
      table.w3-table-all
        th.w3-pale-yellow 
          h2.w3-center 
            b Novidades
        tr
          td
            table.w3-table-all
              tr
                td
                  ul.w3-ul
                    li
                      h4 
                        b titulo
                      h6 data
                      p content
            table.w3-table-all
              tr
                td
                  ul.w3-ul
                    li
                      h4 
                        b titulo
                      h6 data
                      p content

  .w3-container.w3-center.w3-bottom
    footer.w3-container.w3-dark-grey
      address iBandaApp by JG/TF copyrights reserved.


