extends layout
 
block content
  .w3-container.w3-center.w3-jumbo
    header.w3-container.w3-dark-grey
      h1 iBanda
  .w3-container.w3-large
    .w3-bar.w3-black.w3-mobile
      .w3-bar-item
        form.w3-container(action='/sobre', method='GET')
          input.w3-button.w3-wide(type= 'submit', value= 'Sobre')
      .w3-bar-item
        form.w3-container(action='/contactos', method='GET')
          input.w3-button.w3-wide(type= 'submit', value= 'Contactos')
      .w3-bar-item.w3-right
        form.w3-container(action='/login', method='GET')
          input.w3-button.w3-wide(type= 'submit', value= 'Login')
  br
  .w3-container
    .w3-card
      header.w3-container.w3-pale-yellow
        h2.w3-center
          b Novidades
      .w3-container
        ul.w3-ul.w3-border
          each n in noticias
            li
              h4
                b= n.titulo  
              p= n.corpo
              h6= n.data
        br
  .w3-container.w3-center.w3-bottom
    footer.w3-container.w3-dark-grey
      address iBandaApp by JG/TF copyrights reserved.