extends layout
 
block content
  .w3-container.w3-center.w3-jumbo
    header.w3-container.w3-dark-grey
      h1 iBanda
  .w3-container.w3-large
    .w3-bar.w3-black.w3-mobile
        .w3-bar-item
            form.w3-container(action='/admin', method='GET')
                input.w3-button.w3-wide(type= 'submit', value= 'Inicio') 
        .w3-bar-item.w3-right
            form.w3-container(action='/logout', method='GET')
                input.w3-button.w3-wide(type= 'submit', value= 'Logout')
  .w3-container  
    .w3-card-4
        header.w3-grey.w3-center
            h2.w3-text-white Lista de Utilizadores
        .w3-container
            .w3-row
                .w3-col.m6.l7.w3-responsive
                    table.w3-table-all
                        tr
                            th Username:
                            th Email:
                            th Tipo:
                        each u in users
                            tr
                                td= u._id
                                td= u.email
                                td= u.userType
                .w3-col.m4.l3
                    ul.w3-ul.w3-center
                        li
                            form.w3-container(method="POST" action="/admin/users/remover")
                                input.w3-input.w3-border(type="text" name="username" placeholder="Username")
                                br
                                input.w3-btn.w3-black(type= "submit" value= "Remover" id= 'remover')
                        li
                            form.w3-container(method="GET" action="/admin/users/atualiza")
                                input.w3-input.w3-border(type="text" name="username" placeholder="Username")
                                br
                                input.w3-btn.w3-black(type="submit" value="Atualizar" id='atualizar')
           
  .w3-container.w3-center.w3-bottom
    footer.w3-container.w3-dark-grey
      address iBandaApp by JG/TF copyrights reserved.