extends layout

block content
    .w3-card-4
        header.w3-pale-green
            h2 Registo de Utilizador
        .w3-container
            form.w3-container(method="POST" action="/admin/register")
                input.w3-input(type="text" name="username" placeholder="Username:")
                br
                input.w3-input(type="text" name="nome" placeholder="Nome:")
                br
                input.w3-input(type="email" name="email" placeholder="E-mail")
                br
                input.w3-input(type="password" name="password" id='pass' placeholder="Password:")
                br
                input.w3-input(type="password" name="confirm-Password" id='confirm-pass' placeholder="Confirm Password:")
                br
                label.w3-label(id='message') 
                br
                table.w3-table-all
                    tr
                        td
                            label.w3-text-pale-green
                                b Produtor
                                | &nbsp;
                                | &nbsp;
                                input.w3-btn.w3-light-grey(type='radio', name='userType',id= 'type',value='Produtor')
                        td
                            label.w3-text-pale-green
                                b Consumidor
                                | &nbsp;
                                | &nbsp;
                                input.w3-btn.w3-light-grey(type='radio', name='userType',id= 'type',value='Consumidor')
                br
                input.w3-btn.w3-pale-green(type="submit" value="Registar" id='adicionar' class = 'enable')                    
            br
            footer.w3-container.w3-pale-green
                address Gerado por iBanda App.