extends layout

block content
  .w3-container.w3-center.w3-jumbo
    header.w3-container.w3-dark-grey
      h1 iBanda
  .w3-container.w3-large
    .w3-bar.w3-black.w3-mobile
      .w3-bar-item.w3-button.w3-wide(action='/login', method='GET') Inicio
      .w3-bar-item.w3-button.w3-right.w3-wide(action='/login', method='GET') Logout
  .w3-container  
    .w3-card-4
        header.w3-grey.w3-center
            h2.w3-text-white Registo de Utilizador
        .w3-container
            form.w3-container(method="POST" action="/admin/regista")
                input.w3-input(type="text" name="username" placeholder="Username:")
                br
                input.w3-input(type="text" name="nome" placeholder="Nome:")
                br
                input.w3-input(type="email" name="email" placeholder="E-mail")
                br
                input.w3-input(type="password" name="password" id='pass' placeholder="Password:")
                br
                input.w3-input(type="password" name="confirm-Password" id='confirm-pass' placeholder="Confirm Password:")
                br
                label.w3-label(id='message') 
                br
                table.w3-table-all
                    tr
                        td
                            label.w3-text-pale-green
                                b Produtor
                                | &nbsp;
                                | &nbsp;
                                input.w3-btn.w3-light-grey(type='radio', name='userType',id= 'type',value='Produtor')
                        td
                            label.w3-text-pale-green
                                b Consumidor
                                | &nbsp;
                                | &nbsp;
                                input.w3-btn.w3-light-grey(type='radio', name='userType',id= 'type',value='Consumidor')
                        td
                            label.w3-text-pale-green
                                b Admin
                                | &nbsp;
                                | &nbsp;
                                input.w3-btn.w3-light-grey(type='radio', name='userType',id= 'type',value='Admin')
                br
                input.w3-btn.w3-black(type="submit" value="Registar" id='adicionar' class = 'enable')                    
            br
  .w3-container.w3-center.w3-bottom
    footer.w3-container.w3-dark-grey
      address iBandaApp by JG/TF copyrights reserved.