extends layout

block content
  .w3-container.w3-center.w3-jumbo
    header.w3-container.w3-dark-grey
      h1 iBanda
  .w3-container.w3-large
    .w3-bar.w3-black.w3-mobile
        .w3-bar-item
          form.w3-container(action='/', method='GET')
            input.w3-button.w3-wide(type= 'submit', value= 'Inicio')
        .w3-bar-item.w3-right
          form.w3-container(action='/login', method='GET')
            input.w3-button.w3-wide(type= 'submit', value= 'Login')
  .w3-container
    .w3-card
      header.w3-container.w3-pale-yellow
        h1.w3-center
          b Sobre
      br
      .w3-container
        ul.w3-ul
          li Repositório de Arquivo Músical - iBanda.
          br
          li Esta aplicação visa tornar mais fácil o arquivo de bandas filarmónicas.
          br
          li Aplicação Web criada segundo o modelo de referência OAIS(Online Archive Information System).
          br
          li Todo o código de desenvolvimento realizado em NodeJS.
          br
          li Gramática de Suporte a Gestão de Eventos desenvolvida em ANTLR.
          br
          li Criadores João Gomes e Tiago Fraga.
          br
          li Trabalho realizado no âmbito do Perfil de Processamento de Linguagens e Conhecimento Unidade Curricular de Processamento e Representação da Informação
             | do 4º Ano do Mestrado Integrado em Engenharia Informática.   
  .w3-container.w3-center.w3-bottom
    footer.w3-container.w3-dark-grey
      address iBandaApp by JG/TF copyrights reserved.


